:root {
    --light: #aed9e0;
    --medium: #077187;
    --dark: #074f57;
    --stripe: #70566d;
    --back: #42273b;
}

* {
    background-color: var(--stripe);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}

h1 {
    color: var(--light);
    justify-content: flex-start;
    background-color: var(--dark);
    font-size: 30px;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img {
    max-width: 5%;
    height: auto;
    border: 4px solid var(--medium);
    border-radius: 100%; 
    position: absolute;
    transform: translate(330%, 10%);
}

nav {
    justify-content: flex-end;
    display: flex;
    max-width: 30%;
    height: auto;
}

nav a {
    background-color: var(--dark);
    text-decoration: none;
    color: var(--light);
    justify-content: space-between;
    padding: 16px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a::before {
    content: "\2767";
    padding: 6px;
}

nav a:hover {
    transform: scale(1.5);
    border-radius: 100%;
    transition: all 250ms ease;
}

#about-me {
    display: flex;
    color: var(--light);
    margin: 30px 0;
}

#about-me>h2 {
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#about-me>p {
    background-color: var(--back);
    padding: 32px;
    text-align: center;
}

#about-me a {
    background-color: var(--back);
    text-decoration: none;
    color: var(--light)
}

/* #about-me p:nth-child(odd) {
    transform: translate(0, 40%);
} */

#projects {
    display: block;
    margin: 30px 0;
}

#projects>h2 {
    position: sticky;
    top: 0;
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: var(--light)
}

#projects article:first-of-type {

}

#projects img {
    display: block;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    border: 4px solid var(--dark)
}

#projects img:hover {
    opacity: 50%;
}

/* #projects article {
    padding: 10%;
    justify-content: space-between;
    align-items: center;
} */