:root {
    --light: #aed9e0;
    --medium: #077187;
    --dark: #074f57;
    --stripe: #70566d;
    --back: #42273b;
}

* {
    background-color: var(--stripe);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}

h1 {
    color: var(--light);
    justify-content: flex-start;
    background-color: var(--dark);
    font-size: 30px;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img {
    max-width: 5%;
    height: auto;
    border: 4px solid var(--medium);
    border-radius: 100%; 
    position: absolute;
    transform: translate(330%, 10%);
}

nav {
    justify-content: flex-end;
    display: flex;
    max-width: 30%;
    height: auto;
}

nav a {
    background-color: var(--dark);
    text-decoration: none;
    color: var(--light);
    justify-content: space-between;
    padding: 16px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a::before {
    content: "\2767";
    padding: 6px;
}

nav a:hover {
    transform: scale(1.5);
    border-radius: 100%;
    transition: all 250ms ease;
}

#about-me {
    display: flex;
    color: var(--light);
    margin: 30px 0;
}

#about-me>h2 {
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#about-me>p {
    background-color: var(--back);
    padding: 32px;
    text-align: center;
}

#about-me a {
    background-color: var(--back);
    text-decoration: none;
    color: var(--light)
}

#about-me p:nth-child(odd) {
    font-size: 3em;
}

#projects {
    display: block;
    margin: 30px 0;
    color: var(--light)
}

#projects>h2 {
    position: sticky;
    top: 0;
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#projects article {
    display: flex;
    justify-content: space-around;
}

#projects span {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 2px 2px var(--medium);
    margin: 25%;
}

#projects article p {
   margin: 10%;
   max-width: 30%;
   flex-wrap: wrap;
}

#projects img {
    display: block;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    border: 4px solid var(--dark)
}

#projects img:hover {
    opacity: 50%;
}

/* #projects article {
    padding: 10%;
    justify-content: space-between;
    align-items: center;
} */

/* #contact-me {
    display: flex;
    justify-content: center;
} */

#contact-me h2 {
    display: block;
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: var(--light)
}

#contact-me form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

label {
    color: var(--light)
}

input, textarea {
    background-color: var(--dark);
    margin: 16px;
}

input[type=submit] {
    background-color: var(--light);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--light);
    margin: 16px;
}

footer::before {
    content: "\2767";
    padding: 6px;
    transform: translate(0, -5px);
}

footer::after {
    content: "\2619";
    padding: 6px;
    transform: translate(0, -5px);
}

@media screen and (max-width: 1007px) {
    body {
        flex-direction: column;
    }
}