/* setting variables for the file */
:root {
    --light: #aed9e0;
    --medium: #077187;
    --dark: #074f57;
    --stripe: #70566d;
    --back: #42273b;
}

/* universal selector */
* {
    background-color: var(--stripe);
    font-family: Arial, Helvetica, sans-serif;
}

/* formatting header bar */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    border-bottom: 4px solid var(--stripe);
}

/* formatting heading */
h1 {
    color: var(--light);
    justify-content: flex-start;
    background-color: var(--dark);
    font-size: 30px;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* formatting image container */
aside div {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

/* formatting profile picture into circle with border */
aside img {
    width: 100%;
    height: 100%;
    border: 4px solid var(--medium);
    border-radius: 100%; 
    box-shadow: 5px 5px 5px rgba(128, 128, 128, .8);
    margin: 10px;
}

/* formatting nav position */
nav {
    display: flex;
    justify-content: end;
    background-color: var(--dark);
}

/* nav links */
nav a {
    background-color: var(--dark);
    text-decoration: none;
    color: var(--light);
    justify-content: end;
    padding: 16px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* adding pseudo elements before nav links */
nav a::before {
    content: "\2767";
    padding: 6px;
}

/* adding animation to nav links while hovered */
nav a:hover {
    transform: scale(1.5);
    border-radius: 100%;
    transition: all 250ms ease;
}

/* setting general properties to #about-me */
#about-me {
    color: var(--light);
    background-color: var(--back);
}

/* formatting heading in #about-me */
#about-me>h2 {
    background-color: var(--medium);
    padding: 32px 16px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    width: 100%;
}

/* formatting paragraphs in #about-me */
#about-me>p {
    background-color: var(--back);
    padding: 8px;
    margin: 16px;
    text-align: center;
    align-items: center;
}

/* formatting #about-me link */
#about-me a {
    background-color: var(--back);
    text-decoration: none;
    color: var(--light);
}

/* formatting unicode characters in #about-me */
#about-me p:nth-child(odd) {
    font-size: 3em;
}

/* formatting #projects */
#projects {
    display: block;
    margin: 30px 0;
    color: var(--light)
}

/* setting #projects heading to sticky and adding style */
#projects>h2 {
    position: sticky;
    top: 0;
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    overflow: hidden;
}

/* setting flexbox properties for #projects articles */
#projects article {
    display: flex;
    justify-content: space-around;
}

/* adding text style to span */
#projects span {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 2px 2px var(--medium);
    margin: 10%;
}

/* formatting paragraphs */
#projects article p {
   margin: 10%;
   max-width: 30%;
   flex-wrap: wrap;
}

/* formatting #projects images */
#projects img {
    max-width: 500px;
    margin: 10px auto;
    border: 4px solid var(--dark);
    border-style: outset;
}

/* images turn half visible when hovered */
#projects img:hover {
    opacity: 50%;
}

/* formatting #contact-me heading */
#contact-me h2 {
    display: block;
    background-color: var(--medium);
    padding: 32px 16px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: var(--light)
}

/* centering form */
#contact-me form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

/* setting text color */
label {
    color: var(--light)
}

/* formatting input and textarea */
input, textarea {
    background-color: var(--dark);
    margin: 16px;
    border-style: inset;
}

/* formatting submit button */
input[type=submit] {
    background-color: var(--light);
    cursor: pointer;
}

/* formatting footer */
footer {
    display: flex;
    justify-content: center;
    color: var(--light);
    margin: 16px;
}

/* setting pseudo element before footer */
footer::before {
    content: "\2767";
    padding: 6px;
    transform: translate(0, -5px);
}

/* setting pseudo element after footer */
footer::after {
    content: "\2619";
    padding: 6px;
    transform: translate(0, -5px);
}

/* adding screen adaptive qualities */
@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    nav {
        justify-content: flex-start;
        transform: scale(.8);
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    #about-me {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/* stacks and centers form label displays */
@media screen and (max-width: 900px) {
    #contact-me form {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    #contact-me label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    header {
        display: block;
        width: 100%;
    }
}

/* scales images to half size */
@media screen and (max-width: 900px) {
    #projects img {
        transform: scale(.5);
        transition: all 250ms ease;
    }
}

@media screen and (max-width: 900px) {
    #projects article {
        display: block;
    }
}